body,div,h1,h2,html,p,span,ul{margin:0;padding:0;border:0;outline:0}
body{font:16px/20px Arial,Helvetica,sans-serif}
*{-webkit-tap-highlight-color:transparent;outline:0}
ul{list-style:none}

.content{padding:15px}
.content h2,.copy,.footer{background-image:linear-gradient(0deg,#ddd,#ddd 50%,transparent 50%);background-size:100% 1px;background-repeat:no-repeat;border:none}
.content h2{background-position:bottom;color:#ff5644;font-size:18px;padding-bottom:10px;margin-top:10px;font-weight:400}
.content p{color:#666;font-size:14px;margin-top:10px}
.content p:first-child{margin-top:0}
.copy,.footer{font-size:12px;color:#ccc;text-align:center;padding:10px 0;background-position:top}
.logo{display:flex;flex-direction:column;justify-content:center;align-items:center;margin:40px 0 10px}
.logo h1{font-size:20px;line-height:30px;    margin: 10px 0;color:#333}
.logo img{width:80px;height:80px}
.logo p{font-size:20px;color:#999}
.code{text-align: center;margin-bottom: 100px;}
.code img{width: 125px;height: 125px;}
    
.footer{position:fixed;left:0;bottom:0;width:100%;background-color: #fff;}
.about{color:#999;font-size:12px;padding:15px 40px}
.copy p:before,.footer p:before{content:"© 2017 模商大通.im Power by 聚达文化传媒"}

.about h1,.about p,.about span{margin-bottom:15px}

.code h1:before{content:"扫码下载模商大通，马上接单";font-size:18px}

